:root {
  --green: #c9fc00;
  --hover-green: #7bdd72;
  --press-green: #55bb8f;
  --light-grey: #fafafa;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}

/* Header */

.header {
  flex-shrink: 0;
  background-color: black; /* bg-black */
  height: 56px; /* h-14 */
  width: 100vw; /* Makes the header span the full width of the viewport */
}

.header-content {
  display: flex; /* flex */
  justify-content: space-between; /* justify-between */
  align-items: center; /* items-center */
  height: 100%;
}

.header-button {
  color: white; /* text-white */
  width: 106px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-family: "Fira Code", monospace;
  margin-left: 24px;
}

.header-button:hover {
  color: var(--hover-green);
}

.header-button.active {
  font-weight: bold;
}

.button-group {
  display: flex; /* Align buttons in a flex row */
  gap: 8px;
}

/* Additional class for the spacing between the buttons */
.button-spacing {
  margin-right: 24px;
}

/* End Header */

/* Hero Message */

.hero-div {
  height: 342px;
  margin-top: 186px;
  margin-left: 88px;
  gap: 24px;
}

h1 {
  color: var(--green);
  font-size: 48px;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  height: 63px;
}

h2 {
  color: var(--light-grey);
  font-size: 28px;
  font-family: "Fira Code", monospace;
  font-weight: 300;
  height: fit-content;
  width: 60vw;
}

.hero-button {
  background-color: #202124;
  border: none;
  color: var(--green);
  font-size: 24px;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  margin-top: 22px;
}

.hero-button:hover {
  color: var(--hover-green);
}

.hero-button:active {
  color: var(--press-green);
}

/* End Hero Message*/

/* Experience div*/

.experiences-div {
  gap: 24px;
  display: flex;
  flex-direction: column; /* Sets the direction of the main content */
  width: 100vh;
}

.experience {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
  width: 100vw;
}

h3 {
  color: var(--green);
  font-size: 32px;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  height: 63px;
  margin-top: 186px;
  margin-left: 88px;
  margin-bottom: 0;
}

h4 {
  color: var(--light-grey);
  font-size: 24px;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  margin-left: 88px;
  margin-bottom: 0;
  margin-top: 16px;
}

h5 {
  color: var(--light-grey);
  font-size: 24px;
  font-family: "Fira Code", monospace;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 16px;
}

.xp-description {
  color: var(--light-grey);
  font-size: 20px;
  font-family: "Fira Code", monospace;
  font-weight: 300;
  margin-left: 88px;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 16px;
}
.title {
  display: flex; /* Align buttons in a flex row */
  gap: 16px;
  align-items: baseline;
  margin: 0;
}

/* End Experience  div*/

/* Begin Skills div */

.image-container,
.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--green);

  /* Ensuring the square shape */
  box-sizing: border-box;
  max-width: 200px;

  height: 200px;
}

.image-container {
  background-color: inherit;
}

.link-container {
  background-color: black;
}

.link-container:hover {
  background-color: var(--hover-green);
}

.image-container img {
  /* Image size */
  width: 100px;
  height: 100px;
}

.image-description {
  font-size: 20px;
  font-weight: 300;
  font-family: "Fira Code", monospace;
  text-align: center; /* Ensure the text is centered */
  color: var(--light-grey);
}

.skills-container {
  align-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 24px;
  column-gap: 24px;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 64px;
  padding: 0;
  max-width: 800px;
}

.certs-container {
  align-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 24px;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 64px;
  margin-bottom: 128px;
  padding: 0;
  max-width: 600px;
}

.cert-link {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits text color from parent, not using link default colors */
  display: block; /* Makes the link behave as a block element, containing the div properly */
}
/* End Skills div */

/*Introduction*/
.intro {
  margin-top: 186px;
  display: flex;
  align-items: center; /* Aligns the text and the image vertically in the center */
  justify-content: space-between; /* Places the maximum space between text and image */
  color: var(--light-grey);
  padding: 24px;
  box-sizing: border-box;
  gap: 16px; /* Space between the text block and the image */
}

.text-intro {
  font-family: "Fira Code", monospace;
  font-size: 20px;
  font-weight: 400;
  flex: 3;
}

.intro-image {
  flex: 1; /* Allows the image to fill the space without pushing out the text */
  max-width: 40%; /* Maximum width of the image; adjust as needed */
  height: auto; /* Maintains the aspect ratio of the image */
}

/*End introduction*/

/* Recommendations */

.recommendations-div {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0 24px;
}

.recommendation {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  padding: 24px;
  box-sizing: border-box;
  min-height: 200px;
}

.author-info {
  text-align: right;
  margin-top: 16px;
}

.author-name,
.author-title {
  font-family: "Fira Code", monospace;
  color: var(--light-grey);
}

.author-title {
  font-size: 0.8em; /* Slightly smaller font size for the job title */
  margin-top: 4px; /* Adds a little space between the author's name and job title */
}

.rec-description {
  color: var(--light-grey);
  font-size: 20px;
  font-family: "Fira Code", monospace;
  font-weight: 300;
  margin: 0;
}
/*End recommendations */

/* Projects */
/*
.projects-div {
  gap: 24px;
  display: flex;
  width: 100vh;
}

.project {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
  width: 100vw;
  margin-top: 32px;
  margin-bottom: 32px;
}*/

.projects-div {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  width: 100%; /* Use full width of the viewport */
}

.project {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  padding: 24px;
}

.project img {
  max-width: 100%;
  height: auto;
}

.project-link {
  color: var(--green);
  font-size: 16px;
  font-weight: 300;
  font-family: "Fira Code", monospace;
  margin-left: 88px;
  margin-top: 24px;
  text-decoration: none;
}

.project-link:hover {
  color: var(--hover-green);
}

.project-link:active {
  color: var(--press-green);
}

/* End Projects*/
.footer {
  align-items: center;
  flex-shrink: 0;
  background-color: black; /* bg-black */
  height: fit-content;
  width: 100vw; /* Makes the header span the full width of the viewport */ /* Prevents the header and footer from shrinking */
  display: flex;
  color: var(--light-grey);
  flex-direction: column;
  font-family: "Fira Code", monospace;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link {
  color: inherit; /* Inherits the color from the footer */
  text-decoration: none; /* Removes underline from the link */
  display: flex; /* Aligns with the footer's display */
  align-items: center; /* Centers the link text vertically if needed */
  justify-content: center; /* Centers the link text horizontally if needed */
  height: 100%; /* Takes full height of the footer for easier clicking */
  width: 100%; /* Optional: makes the whole footer area clickable */
  margin-top: 24px;
}

.footer-link:hover {
  font-weight: 700;
}

.main-content {
  width: 100vw;
  flex: 1; /* Expands to take up any remaining space */
  display: flex;
  flex-direction: column; /* Sets the direction of the main content */
}

/* Trying media queries so that this looks ok in phones / tablets */

/* Tablet (Devices width over 600px and up to 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  body,
  html {
    max-width: 100vw;
    overflow-x: hidden; /* Hide horizontal overflow */
  }

  .header-button,
  .button-spacing {
    margin-left: 12px; /* Reduce margin for smaller screens */
  }

  .hero-div h1 {
    font-size: 36px; /* Smaller font size for tablets */
  }

  .hero-div h2 {
    font-size: 24px; /* Smaller font size for tablets */
  }

  .skills-container,
  .certs-container {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Adjust grid for fewer columns on tablets */
    /* Removed fixed margins and replaced with auto to center the containers */
    margin-left: auto;
    margin-right: auto;
    /* Ensure max-width does not exceed the viewport width */
    max-width: calc(
      100% - 40px
    ); /* Example: Adjust for the overall padding/margins */
  }

  .footer {
    padding: 20px;
    font-size: 18px;
  }

  .footer-link {
    margin-top: 8px;
    margin-bottom: 24px;
  }

  .main-content {
    overflow-y: auto; /* Allows vertical scrolling if necessary */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    max-height: calc(
      100vh - 120px
    ); /* Adjust based on total height of header/footer */
    width: 100vw; /* Ensures width matches the viewport width */
    box-sizing: border-box; /* Includes padding and border in the element's total width */
  }

  .recommendations-div {
    padding: 0 20px; /* Slightly reduce padding for tablets */
  }

  .recommendation {
    width: calc(
      50% - 30px
    ); /* Adjust width for 2 items per row with a smaller gap */
    padding: 20px; /* Adjust padding */
  }

  .projects-div {
    flex-direction: column; /* Stack projects vertically */
  }

  .project {
    width: 100%; /* Take full width of the screen */
    padding: 16px; /* Reduce padding */
  }

  .project img {
    margin-top: 16px; /* Add some space above the image */
  }
}

/* Phone (Devices width up to 600px) */
@media screen and (max-width: 600px) {
  body,
  html {
    max-width: 100vw;
    overflow-x: hidden; /* Prevents horizontal scrolling */
  }

  /* Correcting the container width */
  .container {
    min-width: 100vw; /* Ensure container width is set to viewport width */
  }

  .header {
    width: 100%; /* Ensures header spans full width without forcing overflow */
  }

  /* Adjusting margins for header buttons for smaller screens */
  .header-button,
  .button-spacing {
    margin: 0 4px; /* Reducing side margins */
    padding: 5px 10px; /* Adjust padding to make the buttons easier to tap */
    font-size: 16px; /* Adjusting font size for better readability */
  }
  h3 {
    font-size: 20px;
  }

  /* Resolving overlap issue by adjusting positioning and spacing */
  .hero-div h1,
  .hero-div h2,
  h3 {
    text-align: center; /* Center-align text for better spacing and readability */
    margin: 10px 0;
    /* Adds margin for spacing between elements */
  }

  .hero-div {
    display: flex;
    flex-direction: column;
    margin-top: 20px; /* Reduced margin-top for tighter spacing */
    margin-left: 0; /* Remove additional left margin */
    text-align: center; /* Center-align the contents */
    align-items: center;
    padding: 0 10px; /* Add padding instead of margin for side spacing */
  }

  /* Reducing the font size for h1 to no larger than 24px */
  .hero-div h1 {
    font-size: 24px; /* Max font size for h1 */
    margin-bottom: 10px; /* Ensure some spacing between h1 and subsequent text */
  }

  /* Adjusting font sizes for other elements in the hero-div */
  .hero-div h2 {
    font-size: 18px; /* Reduce font size for better fit */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }

  /* Adjusting the hero button for smaller screens */
  .hero-button {
    display: none;
    font-size: 16px; /* Reduce button font size for consistency */
    padding: 8px 16px; /* Adjust padding to ensure button is comfortably tappable */
    margin-top: 10px; /* Adjust margin-top for spacing */
  }
  .experiences-div {
    margin-top: 100px;
    align-items: baseline;
  }

  .experiences-div h3 {
    font-size: 20px;
  }

  /* Adjust font sizes within .experience divs for readability */
  .experience,
  .title,
  .xp-description,
  h4,
  h5,
  h6 {
    font-size: 16px; /* Standardizing font size for consistency */
    margin-left: 10px; /* Adjusting left margin to ensure content does not cut off */
    margin-right: 10px; /* Ensuring right-side content is fully visible */
  }

  /* Adjusting skills and certs container for a single column layout */
  .skills-container,
  .certs-container {
    grid-template-columns: 1fr; /* Single column grid for phones */
    margin: 0 10px; /* Adjusting margins to ensure grid items are fully visible */
  }

  .recommendations-div {
    padding: 0 15px; /* Reduce padding for phones */
  }

  .recommendation {
    /* Make each recommendation take full width minus padding for a single column layout */
    width: 100%;
    padding: 15px; /* Adjust padding for smaller screens */
    margin-bottom: 20px; /* Adjust space between items */
  }

  .intro {
    flex-direction: column; /* Stack text and image vertically */
    align-items: flex-start; /* Align items to the start of the container */
    margin-top: 100px; /* Optionally adjust the top margin for mobile */
    padding: 16px; /* Adjust padding for smaller screens */
  }

  .text-intro {
    font-size: 18px; /* Slightly reduce the font size for smaller screens */
    /* Ensure text content takes full width on smaller screens */
    flex: none;
    width: 100%;
    margin-bottom: 16px; /* Add some space between the text and the image */
  }

  .intro-image {
    /* Adjust the image to better fit mobile screens */
    max-width: 80%; /* Increase the max width for the image on smaller screens */
    /* Optionally center the image within the .intro container */
    display: block;
    margin: 0 auto; /* Centers the image horizontally */
    height: auto; /* Keeps the image's aspect ratio */
    flex: none; /* Remove flex sizing to allow width to control the size */
  }

  .projects-div {
    flex-direction: column; /* Stack projects vertically */
  }

  .project {
    width: 100%; /* Take full width of the screen */
    padding: 16px; /* Reduce padding */
  }

  .project img {
    margin-top: 16px; /* Add some space above the image */
  }

  .project-link {
    font-size: 14px; /* Reduce font size for smaller screens */
    margin-left: 16px; /* Adjust margin to less than desktop */
    margin-top: 12px; /* Reduce top margin */
  }
}
