:root {
  --green: #c9fc00;
  --hover-green: #7bdd72;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: auto;
}

/* Header */

.header {
  flex-shrink: 0;
  background-color: black; /* bg-black */
  height: 56px; /* h-14 */
  width: 100vw; /* Makes the header span the full width of the viewport */
}

.header-content {
  display: flex; /* flex */
  justify-content: space-between; /* justify-between */
  align-items: center; /* items-center */
  height: 100%;
}

.header-button {
  color: white; /* text-white */
  width: 106px;
  height: 21px;
  background-color: transparent; /* Assuming Tailwind's button reset */
  border: none; /* Assuming Tailwind's button reset */
  cursor: pointer;
}

.button-group {
  display: flex; /* Align buttons in a flex row */
  gap: 8px; /* mr-2 - Tailwind's margin-right 2 is roughly 8px */
}

/* Additional class for the spacing between the buttons */
.button-spacing {
  margin-right: 8px; /* Equivalent to mr-2 in Tailwind */
}

/* End Header */

/* Hero Message */

.hero-div {
  height: 342px;
  width: 900px;
  margin-top: 186px;
  margin-left: 88px;
  gap: 24px;
}

h1 {
  color: var(--green);
  font-size: 48px;
  font-family: "Fira Code", monospace;
  font-weight: 700;
  height: 63px;
}

h2 {
  color: #fafafa;
  font-size: 28px;
  font-family: "Fira Code", monospace;
  font-weight: 300;
  height: fit-content;
}

.hero-button {
  background-color: #202124;
  border: none;
  color: var(--green);
  font-size: 24px;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  margin-top: 22px;
}

.hero-button:hover {
  color: var(--hover-green);
}

/* End Hero Message*/

.footer {
  flex-shrink: 0; /* Prevents the header and footer from shrinking */
}

.main-content {
  width: 100vw;
  flex: 1; /* Expands to take up any remaining space */
  display: flex; /* You can also make this a flex container */
  flex-direction: column; /* Sets the direction of the main content */
}
