<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <div class="container" style="background-color: #202124">
    {{template "header.html" .}}
    <div class="main-content">
      {{template "introduction.html"}}
      <h3>What Do Others Think?</h3>
      {{template "recommendations.html"}}
      <h3>Useful Links</h3>
      {{template "contact.html"}}
    </div>
    {{template "footer.html"}}
  </div>
</html>
