<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <div class="container" style="background-color: #202124">
    {{template "header.html"}}
    <div class="main-content">
      <div class="hero-div">
        <h1>Hey there! I'm Julio Arellano</h1>
        <h2>
          Electronics and Telecommunication Engineer with over a decade of
          experience in both in SW & HW design, blending expertise in QA, test
          automation, and project management with a passion for continuous
          technological learning.
        </h2>
        <button class="hero-button">Check my experience & skills below</button>
      </div>
      {{template "work-experience.html"}}
      <h3>Stuff I use</h3>
      {{template "skills.html"}}
      <h3>Some certs</h3>
      {{template "certs.html"}}
    </div>
    {{template "footer.html"}}
  </div>
</html>
