<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <div class="container" style="background-color: #202124">
    {{template "header.html" .}}
    <div class="main-content">
      <div class="hero-div">
        <h1>Hey there! I'm Julio Arellano</h1>
        <h2>
          I'm an Electronics and Telecommunication Engineer who's been messing
          around with both software and hardware design for over 10 years. I
          love building stuff, automating tests, and keeping projects on track.
          I'm always looking to improve.
        </h2>
        <div class="hero-text-arrow">
          <span class="hero-button">Check my experience & skills below</span>
          <img src="/static/arrow.png" alt="Down arrow" />
        </div>
      </div>
      {{template "work-experience.html"}}
      <h3>Some Toys</h3>
      {{template "skills.html"}}
      <h3>Professional Certifications</h3>
      {{template "certs.html"}}
    </div>
    {{template "footer.html"}}
  </div>
</html>
