{{define "certs.html"}}
<div class="certs-container">
  <a
    href="https://www.credly.com/badges/9b363dc1-a5c7-4c9a-acdb-6df89ba3a029/linked_in_profile"
    target="”_blank”"
    class="cert-link"
  >
    <div class="link-container">
      <img src="static/ccp.svg" alt="Descriptive Alt Text" />
      <div class="image-description">AWS CCP</div>
    </div></a
  >

  <a
    href="https://www.credly.com/badges/feb5f5d0-771f-4d2f-a502-211f8c854a1c/public_url"
    target="”_blank”"
    class="cert-link"
  >
    <div class="link-container">
      <img src="static/istqb.svg" alt="Descriptive Alt Text" />
      <div class="image-description">ISTQB</div>
    </div>
  </a>

  <a href="https://www.scrum.org/certificates/480815" class="cert-link">
    <div class="link-container">
      <img src="static/pspo.svg" alt="Descriptive Alt Text" />
      <div class="image-description">PSPO</div>
    </div>
  </a>
</div>
{{end}}
