{{define "contact.html"}}
<div class="certs-container">
  <a href="/download-file" class="cert-link" download>
    <div class="link-container">
      <img src="static/cv.svg" alt="Descriptive Alt Text" />
      <div class="image-description">CV</div>
    </div></a
  >

  <a
    href="https://www.linkedin.com/in/arellanojulio/"
    target="”_blank”"
    class="cert-link"
  >
    <div class="link-container">
      <img src="static/linkedin.svg" alt="Descriptive Alt Text" />
      <div class="image-description">LinkedIn</div>
    </div>
  </a>

  <a
    href="https://github.com/secondary-jcav"
    target="”_blank”"
    class="cert-link"
  >
    <div class="link-container">
      <img src="static/github.svg" alt="Descriptive Alt Text" />
      <div class="image-description">GitHub</div>
    </div>
  </a>
</div>
{{end}}
