{{define "header.html"}}
<header class="header">
  <div class="header-content">
    <!-- Left-aligned logo -->
    <a href="/" class="header-logo">
      <img src="/static/logo.svg" alt="Home Logo" style="height: 25px" />
    </a>

    <!-- Right-aligned buttons -->
    <div class="button-group">
      <a
        href="/projects"
        class="header-button button-spacing {{if eq .Current `projects`}}active{{end}}"
      >
        My Projects
      </a>
      <a
        href="/about"
        class="header-button {{if eq .Current `about`}}active{{end}}"
      >
        About Me
      </a>
    </div>
  </div>
</header>
{{end}}
