{{define "introduction.html"}}
<div class="intro">
  <div class="text-intro">
    <p>
      Hi there! I'm Julio. For the past decade, I've been immersed in
      electronics and telecommunication engineering, dabbling in both software
      and hardware. My experience spans quality assurance, automated testing,
      and steering projects to ensure everything operates smoothly. I love
      geeking out over new tech and see every project as an opportunity to learn
      and innovate. Tech is my playground, and I'm always eager to grow and face
      new challenges. Looking for someone to help you bring your ideas to life?
      Let’s connect and create something amazing together!
    </p>
  </div>
  <img src="static/julio.png" alt="My photo" class="intro-image" />
</div>

{{end}}
