{{define "introduction.html"}}
<div class="intro">
  <div class="text-intro">
    <p>
      Hey there! I'm Julio. I've been diving into electronics and
      telecommunication engineering for a good 10 years, messing around with
      both the software and hardware sides of things. I've got my hands dirty in
      Quality Assurance, automated testing, and keeping projects on the straight
      and narrow, all to make sure things run smoothly and smartly. I'm all
      about getting excited over tech, always seeing each new project as a cool
      chance to learn something new and push the envelope a bit further. Tech's
      my playground, and I'm always up for growing and tackling challenges
      head-on. If you're on the lookout for someone who can take complex ideas
      and turn them into reality, hit me up! Let's make something awesome
      together...
    </p>
    <!-- Additional text content can go here -->
  </div>
  <img src="static/julio.png" alt="My photo" class="intro-image" />
</div>

{{end}}
