{{define "my-projects.html"}}
<div class="projects-div">
  <div class="project">
    <h4>Bounce of the Dead</h4>
    <h6 class="xp-description">2019</h6>
    <h6 class="xp-description">Buildbox</h6>
    <h6 class="xp-description">
      Bounce of the Dead is an Android game that plunges players into the depths
      of the underworld alongside Bouncy, a spirited character on a mission to
      retrieve its scattered bones.
    </h6>
    <a
      class="project-link"
      href="https://play.google.com/store/apps/details?id=com.gamesbyjoolz.bounceofthedead&hl=en&gl=US&pli=1"
      target="_blank"
      >Check on Google Play</a
    >
  </div>
  <img class="project-image" src="/static/bouncy.svg" alt="" />
</div>
<div class="projects-div">
  <div class="project">
    <h4>This website!</h4>
    <h6 class="xp-description">2024</h6>
    <h6 class="xp-description">Golang + Templates</h6>
    <h6 class="xp-description">
      Personal Portfolio Website to showcase my professional expertise, creative
      endeavors, and career achievements. I hope this website offers visitors a
      comprehensive insight into my skills, experiences, and accomplishments
      across various domains.
    </h6>
    <a
      class="project-link"
      href="https://github.com/secondary-jcav/my-website"
      target="_blank"
      >Take a look at the repo</a
    >
  </div>
</div>
<div class="projects-div">
  <div class="project">
    <h4>QA Assistant</h4>
    <h6 class="xp-description">2023</h6>
    <h6 class="xp-description">FastAPI (Python) BE with LLM integration</h6>
    <h6 class="xp-description">
      Tool designed to streamline the quality assurance process for software
      development projects. This assistant offers two primary functionalities:
      writing tests and pinpointing issues within a codebase.
    </h6>
    <a
      class="project-link"
      href="https://github.com/secondary-jcav/QAgent"
      target="_blank"
      >Take a look at the repo</a
    >
  </div>
</div>
<div class="projects-div">
  <div class="project">
    <h4>Telegram bot</h4>
    <h6 class="xp-description">2024</h6>
    <h6 class="xp-description">Python</h6>
    <h6 class="xp-description">
      In Progress. Personal assistant bot using telegram
    </h6>
    <a
      class="project-link"
      href="https://github.com/secondary-jcav/joolz_telegram_bot"
      target="_blank"
      >Take a look at the repo</a
    >
  </div>
</div>
{{end}}
