{{define "my-projects.html"}}
<div class="projects-div">
  <div class="project">
    <div class="project-content">
      <h4>Bounce of the Dead</h4>
      <h6 class="xp-description">
        <div style="display: flex; align-items: center; gap: 8px">
          <img src="/static/time.svg" alt="Year Icon" />
          <span>2019</span>
        </div>
      </h6>
      <h6 class="xp-description">
        <div style="display: flex; align-items: center; gap: 8px">
          <img src="/static/technologies.svg" alt="Technologies" />
          <span>Buildbox</span>
        </div>
      </h6>
      <h6 class="xp-description">
        Bounce of the Dead is an Android game that plunges players into the
        depths of the underworld alongside Bouncy, a spirited character on a
        mission to retrieve its scattered bones.
      </h6>
      <a
        class="project-link"
        href="https://play.google.com/store/apps/details?id=com.gamesbyjoolz.bounceofthedead&hl=en&gl=US&pli=1"
        target="_blank"
        >Check on Google Play
        <img src="/static/arrow.svg" alt="Arrow" class="link-arrow"
      /></a>
    </div>
  </div>
  <img
    class="project-image"
    src="/static/bouncy.svg"
    alt="Project image of Bounce of the Dead"
  />
</div>

<div class="projects-div">
  <div class="project">
    <h4>This website</h4>
    <h6 class="xp-description">
      <div style="display: flex; align-items: center; gap: 8px">
        <img src="/static/time.svg" alt="Year Icon" />
        <span>2024</span>
      </div>
    </h6>
    <h6 class="xp-description">
      <div style="display: flex; align-items: center; gap: 8px">
        <img src="/static/technologies.svg" alt="Technologies" />
        <span>Golang + Templates</span>
      </div>
    </h6>
    <h6 class="xp-description">
      Welcome to my personal portfolio website! Here, I've put together some of
      my professional work, creative projects, and career highlights. I hope you
      find this site a useful glimpse into what I've done and the skills I've
      picked up along the way in different areas.
    </h6>
    <a
      class="project-link"
      href="https://github.com/secondary-jcav/my-website"
      target="_blank"
      >Take a look at the repo
      <img src="/static/arrow.svg" alt="Arrow" class="link-arrow" />
    </a>
  </div>
  <img class="project-image" src="/static/go logo export.svg" alt="" />
</div>
<div class="projects-div">
  <div class="project">
    <h4>QA Assistant</h4>
    <h6 class="xp-description">
      <div style="display: flex; align-items: center; gap: 8px">
        <img src="/static/time.svg" alt="Year Icon" />
        <span>2023</span>
      </div>
    </h6>
    <h6 class="xp-description">
      <div style="display: flex; align-items: center; gap: 8px">
        <img src="/static/technologies.svg" alt="Technologies" />
        <span>FastAPI (Python) BE with LLamaIndex integration</span>
      </div>
    </h6>
    <h6 class="xp-description">
      Tool designed to streamline the quality assurance process for software
      development projects. This assistant offers two primary functionalities:
      writing tests and pinpointing issues within a codebase.
    </h6>
    <a
      class="project-link"
      href="https://github.com/secondary-jcav/QAgent"
      target="_blank"
      >Take a look at the repo
      <img src="/static/arrow.svg" alt="Arrow" class="link-arrow"
    /></a>
  </div>
  <img class="project-image" src="/static/llama - exportar.svg" alt="" />
</div>
<div class="projects-div">
  <div class="project">
    <h4>Telegram bot</h4>
    <h6 class="xp-description">
      <div style="display: flex; align-items: center; gap: 8px">
        <img src="/static/time.svg" alt="Year Icon" />
        <span>2024</span>
      </div>
    </h6>
    <h6 class="xp-description">
      <div style="display: flex; align-items: center; gap: 8px">
        <img src="/static/technologies.svg" alt="Technologies" />
        <span>Python</span>
      </div>
    </h6>
    <h6 class="xp-description">
      Refactor in progress. Personal assistant bot using the Telegram API.
    </h6>
    <a
      class="project-link"
      href="https://github.com/secondary-jcav/joolz_telegram_bot"
      target="_blank"
      >Take a look at the repo
      <img src="/static/arrow.svg" alt="Arrow" class="link-arrow" />
    </a>
  </div>
  <img class="project-image" src="/static/telegram logo export.svg" alt="" />
</div>
{{end}}
