{{define "recommendations.html"}}
<div class="recommendations-div">
  <div class="recommendation">
    <h6 class="rec-description">
      As Julio's former manager, I can attest to his outstanding qualities.
      Throughout his tenure as a QA engineer, Julio not only demonstrated a
      solid understanding of technical aspects but also showcased his ability to
      lead projects effectively and deliver compelling presentations. Notably,
      his aptitude for fostering teamwork within our team and collaborating
      seamlessly with cross-functional units stood out. I am enthusiastic about
      recommending Julio for his consistent dedication, strong leadership
      skills, and valuable contributions to teamwork.
    </h6>
    <div class="author-info">
      <div class="author-name">Rocío de la Pinta</div>
      <div class="author-title">Engineering Manager at King</div>
    </div>
  </div>
  <div class="recommendation">
    <h6 class="rec-description">
      En los 3 años que he trabajado con Julio he podido comprobar lo buen
      ingeniero que es. Analítico, perseverante, capaz de encontrar la solución
      más adecuada a los problemas que un proyecto pueda presentar.
      Conocimientos extensos en instrumentación electrónica y RF así como en
      desarrollo de SW. Gran compañero, gran capacidad de trabajo en grupo. Lo
      tendría siempre en mi equipo.
    </h6>
    <div class="author-info">
      <div class="author-name">Fulgencio Buendía Tenedor</div>
      <div class="author-title">Test Manufacturing Engineer at Merit</div>
    </div>
  </div>
</div>
{{ end }}
