{{define "skills.html"}}
<div class="skills-container">
  <div class="image-container">
    <img src="static/angular.svg" alt="Angular Logo" />
    <div class="image-description">angular</div>
  </div>
  <div class="image-container">
    <img src="static/aws.svg" alt="AWS Logo" />
    <div class="image-description">AWS</div>
  </div>
  <div class="image-container">
    <img src="static/cypress.svg" alt="Cypress Logo" />
    <div class="image-description">Cypress</div>
  </div>
  <div class="image-container">
    <img src="static/docker.svg" alt="Docker Logo" />
    <div class="image-description">Docker</div>
  </div>
  <div class="image-container">
    <img src="static/js.svg" alt="Javascript Logo" />
    <div class="image-description">Javascript</div>
  </div>
  <div class="image-container">
    <img src="static/jenkins.svg" alt="Jenkins Logo" />
    <div class="image-description">Jenkins</div>
  </div>
  <div class="image-container">
    <img src="static/k8s.svg" alt="Kubernetes Logo" />
    <div class="image-description">Kubernetes</div>
  </div>
  <div class="image-container">
    <img src="static/linux.svg" alt="Linux Logo" />
    <div class="image-description">Linux</div>
  </div>
  <div class="image-container">
    <img src="static/postman.svg" alt="Postman Logo" />
    <div class="image-description">Postman</div>
  </div>
  <div class="image-container">
    <img src="static/python.svg" alt="Python Logo" />
    <div class="image-description">Python</div>
  </div>
  <div class="image-container">
    <img src="static/robot.svg" alt="Robot Framework Logo" />
    <div class="image-description">Robot</div>
  </div>
  <div class="image-container">
    <img src="static/selenium.svg" alt="Selenium Logo" />
    <div class="image-description">Selenium</div>
  </div>
</div>
{{end}}
