{{define "skills.html"}}
<div class="skills-container">
  <div class="image-container">
    <img src="static/angular.svg" alt="Descriptive Alt Text" />
    <div class="image-description">angular</div>
  </div>
  <div class="image-container">
    <img src="static/aws.svg" alt="Descriptive Alt Text" />
    <div class="image-description">AWS</div>
  </div>
  <div class="image-container">
    <img src="static/cypress.svg" alt="Descriptive Alt Text" />
    <div class="image-description">Cypress</div>
  </div>
  <div class="image-container">
    <img src="static/docker.svg" alt="Descriptive Alt Text" />
    <div class="image-description">Docker</div>
  </div>
  <div class="image-container">
    <img src="static/js.svg" alt="Descriptive Alt Text" />
    <div class="image-description">Javascript</div>
  </div>
  <div class="image-container">
    <img src="static/jenkins.svg" alt="Descriptive Alt Text" />
    <div class="image-description">Jenkins</div>
  </div>
  <div class="image-container">
    <img src="static/k8s.svg" alt="Descriptive Alt Text" />
    <div class="image-description">Kubernetes</div>
  </div>
  <div class="image-container">
    <img src="static/linux.svg" alt="Descriptive Alt Text" />
    <div class="image-description">Linux</div>
  </div>
  <div class="image-container">
    <img src="static/postman.svg" alt="Descriptive Alt Text" />
    <div class="image-description">Postman</div>
  </div>
  <div class="image-container">
    <img src="static/python.svg" alt="Descriptive Alt Text" />
    <div class="image-description">Python</div>
  </div>
  <div class="image-container">
    <img src="static/robot.svg" alt="Descriptive Alt Text" />
    <div class="image-description">Robot</div>
  </div>
  <div class="image-container">
    <img src="static/selenium.svg" alt="Descriptive Alt Text" />
    <div class="image-description">Selenium</div>
  </div>
</div>
{{end}}
