{{define "work-experience.html"}}
<div class="experiences-div">
  <h3>Recent Work Experience</h3>
  <div class="experience">
    <div class="title">
      <h4>Senior Software Development Engineer in Test</h4>

      <h5>@ Onna (Barcelona, Spain)</h5>
    </div>
    <h6 class="xp-description">07/2022 - Present</h6>
    <ul>
      <li class="xp-description">Test plan design & automation.</li>
      <li class="xp-description">
        Implemented test automation using Cypress & Jenkins, leading to a 50%
        reduction in regression testing time.
      </li>
    </ul>
  </div>
  <div class="experience">
    <div class="title">
      <h4>SW Engineer in Test</h4>

      <h5>@ Wallbox (Barcelona, Spain)</h5>
    </div>
    <h6 class="xp-description">06/2021 - 07/2022</h6>
    <ul>
      <li class="xp-description">
        Enhanced test automation coverage by over 50% for both web and mobile
        applications.
      </li>
    </ul>
  </div>
  <div class="experience">
    <div class="title">
      <h4>Program Manager</h4>

      <h5>@ Carrier Fire & Security (Barcelona, Spain)</h5>
    </div>
    <h6 class="xp-description">09/2020 - 06/2021</h6>
    <ul>
      <li class="xp-description">
        Successfully steered 5 engineering projects, maintaining project
        delivery time while staying under budget.
      </li>
    </ul>
  </div>
  <div class="experience">
    <div class="title">
      <h4>QA Lead / Product Owner</h4>

      <h5>@ Carrier Fire & Security (Barcelona, Spain)</h5>
    </div>
    <h6 class="xp-description">05/2018 - 09/2020</h6>
    <ul>
      <li class="xp-description">
        Manage a team of testers in Spain, China and India.
      </li>
      <li class="xp-description">
        Feature backlog maintenance and prioritization for digital products.
      </li>
      <li class="xp-description">
        Achieved 100% automated test coverage for our team's product line.
      </li>
    </ul>
  </div>
  <div class="experience">
    <div class="title">
      <h4>Test Development Engineer</h4>

      <h5>@ Ficosa (Barcelona, Spain)</h5>
    </div>
    <h6 class="xp-description">07/2015 - 05/2018</h6>
    <ul>
      <li class="xp-description">
        Design of EOL test stations for automotive products.
      </li>
      <li class="xp-description">
        Developed a novel automated RF test station, increasing productivity by
        40%.
      </li>
    </ul>
  </div>
</div>
{{end}}
